
<div class="header-wrapper">
  <div class="col-sm-8 notepage-intro">
      <p class="notepage-title">Welcome, <%= current_user.handle %></p>
      <p>Put some useful data here</p>
  </div>
  <div class="col-sm-3">
    <div class="logo">
      <a href="/environments"><img src="../../studere-icon.gif" alt=""></a>
    </div> 
  </div>
</div>
<div class="devise-login-wrapper">
  <h2 class="section-title">EDIT <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, :class => "form-control" %>
    </div><br>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Type New password (...if you wish to change it)" %>
    </div><br>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "Retype new password (again... only if you wish to change it)" %>
    </div><br>

    <div class="field">
      <%= f.password_field :current_password, autocomplete: "off", :class => "form-control", :placeholder => "Type current password to confirm" %>
    </div><br>

    <div class="actions">
      <%= f.submit "Update", :class => "btn btn-block btn-round btn-dark" %>
    </div>
  <% end %>

  <h3>CANCEL MY ACCOUNT</h3>

  <%= button_to "Cancel my account", registration_path(resource_name), :class => "btn btn-block btn-round btn-dark", data: { confirm: "Are you sure?" }, method: :delete %>
  
  <%= link_to "Back", :back, :class => "btn btn-block btn-round btn-dark" %>
</div>  


