<div class="header-wrapper">
  <div class="col-sm-8 notepage-intro">
      <p class="notepage-title">Welcome!</p>
      <p>Put some useful data here</p>
  </div>
  <div class="col-sm-3">
    <div class="logo">
      <a href="/environments"><img src="../../studere-icon.gif" alt=""></a>
    </div> 
  </div>
</div>
<div class="devise-login-wrapper">
  <p class="section-title">SIGN UP</p>           
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email" %>
      </div><br>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password (8 characters minimum)" %>
      </div><br>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "Password Confirmation" %>
      </div><br>             

      <div class="actions">
        <%= f.submit "Sign up", :class => "btn btn-block btn-round btn-dark" %>
      </div>
    <% end %>

    <p class="section-title">LOG IN</p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email" %>
      </div><br>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password" %>
      </div><br>

      <div class="actions">
        <%= f.submit "Log in", :class => "btn btn-block btn-round btn-dark" %>
      </div><br>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    <% end %>
    <%= render "devise/shared/links" %>
    <!-- </div> -->
  <!-- </div> -->
</div>
