<div class="env-index-title">
  <div class="logo col-sm-2">
    <a href="/environments"><img src="../../studere-icon.gif" alt=""></a>
  </div>
  <div class="col-sm-8 notepage-intro">
      <p class="notepage-title">Welcome, <%= current_user.handle %></p>
  </div>
  <div class="col-sm-2">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><%= link_to "Home", '/environments' %></li>  

      <% unless current_user %>

        <li role="presentation" class="active"><%= link_to "Sign In", '/users/sign_in' %></li>
        <li role="presentation" class="active"><%= link_to "Sign Up", '/users/sign_up' %></li>
        
      <% else %>
        <li role="presentation" class="active"><%= link_to "Sign Out", "/users/sign_out", method: :delete %></li>
        <li role="presentation" class="active"><%= link_to "Edit User Info", '/users/edit' %></li>
      <% end %>

        <li role="presentation" class="dropdown active">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Environments <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% @environments.each do |environment| %>
              <li><%= link_to environment.name, "/environments/#{environment.id}" %></li>
            <% end %>
            <li><%= link_to "Archive", "/environments/archived" %></li>
          </ul>
        </li>   
      </ul>
  </div>
</div>
  <div class="wrapper">

  <!-- ADD NOTEPAGE WELLS HERE -->
  <!-- PORTFOLIO -->
  <section>
    <p class="environments-section">ARCHIVED ENVIRONMENTS</p>
    <div>
      <% @archenvironments.each do |environment| %>
          <div class="env-np-well">
            <h3><%= link_to environment.name, "/environments/#{environment.id}" %></h3>
          </div>
      <% end %>     
    </div>
  </section>          
</div> 