<%= render partial: "navbar" %>
<div class="show">
  <h1>Edit this Environment</h1>
  <%= form_tag "/environments/#{@environment.id}", method: :patch do %>
    <div>
      <%= label_tag :name, "Name" %>
      <%= text_field_tag :name, @environment.name %>
    </div>
    <div>
      <%= submit_tag 'Submit' %>
    </div>
  <% end %>
</div>