<div class="header-wrapper">
  <div class="col-sm-8 notepage-intro">
      <p class="notepage-title">Welcome, <%= current_user.handle %></p>
      <p>Some user data here</p>
      <p>Add parallax scrolling</p>
  </div>
  <div class="col-sm-3">
    <div class="logo">
      <a href="/environments"><img src="../../studere-icon.gif" alt=""></a>
    </div> 
     
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><%= link_to "Home", '/environments' %></li>  

    <% unless current_user %>

      <li role="presentation" class="active"><%= link_to "Sign In", '/users/sign_in' %></li>
      <li role="presentation" class="active"><%= link_to "Sign Up", '/users/sign_up' %></li>
      
    <% else %>
      <li role="presentation" class="active"><%= link_to "Sign Out", "/users/sign_out", method: :delete %></li>
      <li role="presentation" class="active"><%= link_to "Edit User Info", '/users/edit' %></li>
    <% end %>

      <li role="presentation" class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Environments <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <% @environments.each do |environment| %>
            <li><%= link_to environment.name, "/environments/#{environment.id}" %></li>
          <% end %>
          <li><%= link_to "Archive", "/environments/archived" %></li>
        </ul>
      </li>   
    </ul>
  </div>
</div>
<div class="collections-wrapper">
  <p class="environments-section">ACTIVE ENVIRONMENTS</p>
  <div class="well-wrapper">
    <% @environments.each do |environment| %>
        <div class="env-np-well">
          <h3><%= link_to environment.name.upcase, "/environments/#{environment.id}" %></h3>
        </div>
    <% end %>
    <div class="env-np-well">
      <h3><%= link_to "ARCHIVE", "/environments/archived" %></h3>
    </div>      
  </div>
  <div class="well-wrapper">  
    <div class="env-np-well">
      <h3>NEW ENVIRONMENT</h3>
      <%= form_tag '/environments', method: :post do %> 
        <form id="contact-form" role="form" novalidate>
          <div class="form-group">
            <label class="sr-only" for="name">Name</label>
            <input type="text" id="name" class="form-control" name="name" placeholder="New Environment Name">
            <p class="help-block text-danger"></p>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-block btn-round btn-dark">Create</button>
          </div>
        </form>
      <% end %>
    </div>
  </div>          
</div> 
