<%= render partial: "navbar" %>

  <!-- WRAPPER -->
  <div class="wrapper">

    <!-- HERO -->
    <section id="hero" class="module-hero bg-dark-30 js-fullheight" data-background="http://cdn.shopify.com/s/files/1/0072/7502/products/8888a_08727881-0ac8-442c-b843-b26b7be897e9.jpg?v=1438190485">

      <!-- HERO TEXT -->
      <div class="hero-caption">
        <div class="hero-text">
          <h6 class="m-b-30"><%= current_user.email %></h6>
          <h3 class="m-b-30">ENVIRONMENT:</h3>
          <h1 class="m-b-60"><%= @environment.name %></h1>
            
          <!-- NEW FORM -->
          <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
          <%= form_tag '/note_pages', method: :post do %> 
            <form id="contact-form" role="form" novalidate>
              <div class="form-group">
                <label class="sr-only" for="title">Name</label>
                <input type="text" id="name" class="form-control" name="title" placeholder="New NotePage Name">
                <p class="help-block text-danger"></p>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-block btn-round btn-dark">Create</button>
              </div>
              <div>
                <%= hidden_field_tag :environment_id, @environment.id %>
              </div>
            </form>
          <% end %>
          <div class="col-sm-4"></div>
          <!-- FORM END -->
          </div>
          </div>

        </div>
      </div>
      <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

<div class="show">
    <% @environment.note_pages.each do |page| %>
      <li><a href="/note_pages/<%= page.id %>"><%= page.title %></a></li>
        <div>
          <%= link_to 'Edit', "/environments/#{@environment.id}/edit" %>
        </div>
        <div>
          <%= link_to 'Archive', "/environments/#{@environment.id}", method: :delete %>
        </div>
    <% end %>
  </ul>
</div>