<div class="header-wrapper">
  <div class="col-sm-8 notepage-intro">
      <p class="notepage-title">ENVIRONMENT :</p>
      <p class="notepage-title"><%= @environment.name.upcase %></p>
  </div>
  <div class="col-sm-3">
      <div class="logo">
        <a href="/environments"><img src="../../studere-icon.gif" alt=""></a>
      </div>  
      <ul class="nav nav-buttons">
        <li role="presentation" class="active"><%= link_to "Home", '/environments' %></li>  

      <% unless current_user %>

        <li role="presentation" class="active"><%= link_to "Sign In", '/users/sign_in' %></li>
        <li role="presentation" class="active"><%= link_to "Sign Up", '/users/sign_up' %></li>
        
      <% else %>
        <li role="presentation" class="active"><%= link_to "Sign Out", "/users/sign_out", method: :delete %></li>
        <li role="presentation" class="active"><%= link_to "Edit User Info", '/users/edit' %></li>
      <% end %>

        <li role="presentation" class="dropdown active">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Environments <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% @environments.each do |environment| %>
              <li><%= link_to environment.name, "/environments/#{environment.id}" %></li>
            <% end %>
            <li><%= link_to "Archive", "/environments/archived" %></li>
          </ul>
        </li>   

      <% if @environment.status == 'active' %>
          <li role="presentation" class="active"><%= link_to 'Archive Environment', "/environments/#{@environment.id}/archive", method: :delete, class: "notepage-intro" %></li>
      <% else %>
          <li role="presentation" class="active"><%= link_to 'Reactivate Environment', "/environments/#{@environment.id}/reactivate", method: :patch, class: "notepage-intro" %></li>
          <li role="presentation" class="active"><%= link_to 'Delete Environment', "/environments/#{@environment.id}", method: :delete, class: "notepage-intro" %> </li>
      <% end %>
    </ul>  
  </div>
</div>
<div class="collections-wrapper">
  <p class="section-title">NOTEPAGES</p>
  <div class="well-wrapper">
    <% @environment.note_pages.each do |page| %>
      <div class="notepage-well">
        <div>
            <h6>TITLE: <%= page.title.upcase %></h6>
            <h6 style="display: inline;" contenteditable="true"><%= page.summary.upcase %></h6>
        </div>
        <hr>
        <div>
          <div class="note-button">
            <img style="display: inline;" src="../../delete-icon.gif" alt="" class="new-bookmark new-bookmark-icon"><p style="display: inline;" class="note-buttons"><%= link_to "Open Notepage", "/note_pages/#{page.id}" %></p>
          </div>
          <hr>
          <div class="note-button">
            <img style="display: inline;" class="delete-icon" src="../../delete-icon.gif" alt=""><p style="display: inline;" class="note-buttons"><%= link_to "Delete Notepage", "/note_pages/#{page.id}", method: :delete %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
      <!-- END NOTES WELL -->
  <div class="well-wrapper">    
    <div class="notepage-well">
    <div>
      <h6>NEW NOTEPAGE</h6>
    </div>
    <%= form_tag '/note_pages', method: :post do %> 
      <form id="contact-form" role="form" novalidate>
        <div class="form-group">
          <label class="sr-only" for="title">Name</label>
          <input type="text" id="name" class="form-control" name="title" placeholder="New NotePage Name">
          <p class="help-block text-danger"></p>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-block btn-round btn-dark">Create</button>
        </div>
        <div>
          <%= hidden_field_tag :environment_id, @environment.id %>
        </div>
      </form>
    <% end %>
  </div>
</div>
      <!-- NEW NOTEPAGE WELL -->
</div>
<!-- END WRAPPER -->