<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link"><%= current_user.handle %></a></p>

    <ul class="nav nav-pills">
      <li role="presentation" class="active"><%= link_to "Home", '/environments' %></li>  

    <% unless current_user %>

      <li role="presentation" class="active"><%= link_to "Sign In", '/users/sign_in' %></li>
      <li role="presentation" class="active"><%= link_to "Sign Up", '/users/sign_up' %></li>
      
    <% else %>
      <li role="presentation" class="active"><%= link_to "Sign Out", "/users/sign_out", method: :delete %></li>
      <li role="presentation" class="active"><%= link_to "Edit User Info", '/users/edit' %></li>
    <% end %>

      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Environments <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <% @environments.each do |environment| %>
            <li><%= link_to environment.name, "/environments/#{environment.id}" %></li>
          <% end %>
          <li><%= link_to "Archive", "/environments/archived" %></li>
        </ul>
      </li>   
    </ul>
  </div>
</nav>