<%= render partial: "navbar" %>

<!-- PORTFOLIO SINGLE -->
<div ng-app="app">
  <div ng-controller="notepage">
    <section class="module-accordion">
      <div class="container-fluid container-custom">
          <% @note_pages.notes.each do |note| %>
          <div class="row">
            <!-- COLUMN 8 DIV -->
            <div class="col-md-10">
            <!-- ACCORDIONS -->
              <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#support<%=note.id%>">
                    <%= note.id %>                 
                    </a></h4>
                  </div>
                  <div id="support<%=note.id%>" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <%= form_tag "/notes/#{note.id}", method: :patch do %>
                        <%= text_area_tag :text, note.text %>
                        <%= hidden_field_tag :id, note.id %>
                        <%= hidden_field_tag :note_page_id, note.note_page_id %>
                        <button type="submit" class="btn btn-block btn-round btn-dark">Submit</button>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <!-- /ACCORDIONS --> 
            </div>
            <!-- /COLUMN 8 DIV -->
            <div class="col-md-2">
              <%= link_to 'New Bookmark', "https://www.google.com/", target: "_blank" %><br>
              <%= link_to 'Delete Note', "/notes/#{note.id}", method: :delete %>
            </div>
          </div>
          <% end %>       
      </div>
    </section>
  </div>
</div>

<!-- FORM -->
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <%= form_tag '/notes', method: :post do %>
    <%= hidden_field_tag :note_page_id, @note_pages.id %> 
        <div class="text-center">
          <button type="submit" class="btn btn-block btn-round btn-dark">New Note</button>
        </div>
    <% end %>
  </div>
  <!-- FORM END -->
  <!-- TAGS -->
<div class="col-sm-2 tags font-serif"> 
<%= link_to 'Back to Environment', "/environments/#{@note_pages.environment_id}" %>
</div> 
  <!-- /TAGS -->

