
<div ng-app='app' ng-controller='notesCtrl' ng-init="setup()">
  <div class="header-wrapper">
    <div class="col-sm-8 notepage-intro">
        <p class="notepage-title">ENVIRONMENT : PROGRAMMING. UPDATE THIS.</p>
        <p class="notepage-title">NOTEPAGE : <%= @note_pages.title %></p>
        <p class="notepage-summary">SUMMARY : <%= @note_pages.summary %></p>
    </div>

    <div class="col-sm-2 notepage-intro">
      <div class="logo">
        <a href="/environments"><img src="../../studere-icon.gif" alt=""></a>
      </div>    
      <ul class="nav nav-buttons">
        <li role="presentation" class="active"><%= link_to "Home", '/environments' %></li>  

      <% unless current_user %>

        <li role="presentation" class="active"><%= link_to "Sign In", '/users/sign_in' %></li>
        <li role="presentation" class="active"><%= link_to "Sign Up", '/users/sign_up' %></li>
        
      <% else %>
        <li role="presentation" class="active"><%= link_to "Sign Out", "/users/sign_out", method: :delete %></li>
        <li role="presentation" class="active"><%= link_to "Edit User Info", '/users/edit' %></li>
      <% end %>
        <li role="presentation" class="dropdown active">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Environments <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% @environments.each do |environment| %>
              <li><%= link_to environment.name, "/environments/#{environment.id}" %></li>
            <% end %>
            <li><%= link_to "Archive", "/environments/archived" %></li>
          </ul>
        </li>   
      </ul>  
    </div>
  </div>

  <div class="collections-wrapper">
    <section>
      <div class="container-fluid container-custom">
          <!-- BOOKMARKS -->
          <p class="section-title">NOTES</p>
          <p>Bookmarks:</p>
          <div ng-repeat="note in notes">
            <div class="row note-row">
              <div class="col-md-10">
              <!-- BOOKMARKS -->
                  <div class="bookmarks-wrapper" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <div class="bookmarks" ng-repeat="marks in notes[0].bookmarks">
                        <p style="display: inline;">Drop Bookmark Here...</p>
                        <a href="/bookmarks/{{marks.bookmark.id}}" target="_blank">{{ marks.bookmark.name }}</a>
                    </div>
                  </div>
                  <div contenteditable="true" ng-model="notetext" id="notetext" ng-change="editNote(note, notetext)">{{note.text}}</div>
              </div>
              <!-- END BOOKMARKS -->
                <!-- DELETE BUTTONS -->
              <div class="col-md-2">
                  <div class="note-button">
                      <img src="../../delete-icon.gif" alt="" class="new-bookmark new-bookmark-icon"><p style="display: inline;"class="note-buttons"><%= link_to "New Bookmark", "#", target: "_blank" %></p>
                  </div>
                  <hr>
                  <div class="note-button">
                      <a ng-click="deleteNote(note)"><img class="delete-icon" src="../../delete-icon.gif" alt=""><p style="display: inline;" class="note-buttons">Delete Note</p></a>
                  </div>
              </div>
              <!-- END BUTTONS -->
          </div>
        </div>
    </section>
    <hr>
    <hr class="button-divider">
    <div class="row">
      <%= form_tag '/api/notes', method: :post do %>
      <%= hidden_field_tag :note_page_id, @note_pages.id %> 
        <div class="text-center">
          <button class="submit-button" type="submit">NEW NOTE</button>
        </div>
      <% end %>
    </div>
    <div class="row">
      <p class="section-title">UNASSIGNED BOOKMARKS</p>
      <div>
      <% current_user.unassigned_bookmarks.each do |bookmark| %>
        <div class="bookmarks">
          <a href="/bookmarks/<%= bookmark.id %>" class="bookmark"><%= bookmark.name %></a>
        </div>                  
      <% end %>
      </div> 
    <!-- END /UNASSIGNED BOOKMARKS -->
    </div>
        <!-- COMMENTS SECTION -->
    <div class="row">      
      <p class="section-title">COMMENTS</p>       
      <div class="comment-section">
        <% @note_pages.comments.each do |comment| %>
          <div class="autosave-text">
              <p>{{ comment.posted_by }}</p>
              <p>{{ comment.text }}</p>
          </div>
        <% end %>
        <hr>
        <hr class="button-divider">                                   
        <div class="text-center">
          <button class="submit-button submit-comment" type="submit">NEW COMMENT</button>
        </div>
      </div>    
    </div>
  </div> 
</div>
